[flake8]
application-import-names = app,src,tests
exclude =
    docs/*.py,
    migrations/*.py,
    notes/*.py,
ignore = E203,E501,W503
import-order-style = google
max-line-length = 80
per-file-ignores = tests/*:S101
select = ANN,B,B9,BLK,C,D,DAR,E,F,I,S,W
